.card {

    background: #fff;
    width: 300px;
    height: 200px;
    padding: 16px 16px;
    position: relative;

    color: #000000ae;

    border-radius: 20px;
    border-left: 5px solid #e559f9;
    transition: 0.3s;

    animation: show-animation 1.5s;

    .card-title {
        overflow: hidden;
        text-overflow: ellipsis;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical !important;

        strong {
            font-size: 30px !important;
            margin: 0 !important;

        }
    }

    p {
        font-size: 16px
    }

    span {
        font-size: 12px;
    }

    .footer {
        margin: 10px auto;
        position: absolute;
        bottom: 30px;

        .buttons {
            display: flex;
            gap: 10px;
            position: inherit;

            justify-content: space-between;

            button {
                background: #e559f9;
                color: #fff;

                padding: 5px;
                border-radius: 8px;
                border: none;
            }

            :hover {
                filter: brightness(0.9);
                cursor: pointer;
            }
        }
    }
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}

@keyframes show-animation {
    from {
        opacity: 0;
        transform: translate(0px, 50px);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}